.main-menu-wrapper {
  padding: 30px 0;
  float: right;
}

.nav-pills > li > a {
  color: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #081b30;
}
